@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
  overflow: hidden;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

header {
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

h1 {
  background-color: rgb(76, 201, 185);
  padding: 1.2rem 0;
  margin: 0;
}

.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: #5EE270;
  z-index: 1;
  position: relative;
}

/* -----------------SIDEBAR----------------- */
.links {
  font-family: 'Courier New', Courier, monospace, sans-serif;
 text-align: left;
 
  
}

#side-bar {
  position: absolute;
  width: 230px;
  height: 100%;
  background: #57d6b4d6;
  top: 0;
  left: -230px;
  transition: 0.5s ease-out;
  z-index: 4;
  
}

.toggle-btn {
  position: absolute;
  top: 15px;
  left: 240px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.toggle-btn span {
  width: 40px;
  height: 8px;
  border-radius: 5px;
  background: #12729e;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}

li {
  color: #292929;
  list-style: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding-left: 5px;
}

li a {
  color: inherit;
  text-decoration: none;
}

li:hover {
  background: #40758e80;
  color: #332239;
}

#side-bar.active {
  left: 0;
}

.active span {
  position: absolute;
}

.active span:nth-child(1) {
  transform: rotate(45deg);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.active ~ .content {
  opacity: 0.01;
}

.sub-menu {
  display: none;
  list-style: none;
  padding-left: 20px;
}

li:hover > .sub-menu {
  display: block;
}

/* -----------------RESPONSIVE----------------- */

@media (max-width: 768px) {
  
/* ---------TITRE SPACY BIRD---------- */

h1 {
  font-size: 25px;
}



}

