body {
    font-family:'Courier New', Courier, monospace;
    background: url('media/BG6.jpg');
    background-size: cover;  /* Assure que l'image couvre toute la surface */
    background-repeat: no-repeat;  /* Empêche la répétition de l'image */
    background-position: center center;  /* Centre l'image */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #9463b134;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1f1f1f;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #1f1f1f;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    display: none;
    color: red;
    font-size: 0.9em;
}

#passwordStrength {
    height: 5px;
    margin-top: 5px;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4f77e5;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #78417b;
}